<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

`
<table>
<thead>
   <tr align="center">
    <th>Patient Name</th>
    <th>Complaint</th>
    <th>Appointment date</th>
    <th>Days before appointment</th>
  </tr>
</thead>
  <tbody>

  <% @specialist.appointments.each do |a| %>
      <tr align="center">
      <br>
      <td><%= a.patient.name %></td>
      <td><%= a.complaint %></td>
      <td> <%= a.appointment_date %>
      <% sergio = (a.appointment_date-Date.today) %>
      <%  if sergio >= 0   %>
          <td> <%=sergio.to_i  %>
          <% else  %>
          <td> <% 'no appointment' %>

  <% end%></td>
        </tr>

  <% end%>

  </tbody>
</table>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
